@use './styles/element.scss';

body {
    margin: 0;
    background-color: #fafbfc;
}

/* fade-slide 页面切换 */
.fade-slide-leave-active,
.fade-slide-enter-active {
    transition: all 0.25s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.fade-slide-enter-from {
    transform: translateY(12px);
    opacity: 0;
}

.fade-slide-leave-to {
    transform: translateY(-8px);
    opacity: 0;
}
